body {
  background-color: #f0eeee;
}
.Meditation-card {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  box-shadow: 0px 8px 6px -6px black;
  margin: 8em 1em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 300px;
}

.Content-div {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  padding-left: 2em;
}
.Content-text {
  padding-top: 5px;
}

.Timer-wrapper {
  display: flex;
  flex: 3;
  margin: 0 auto;
}
