.Nav-wrapper {
  background-color: #f0eeee;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  padding: 1em;
  width: 100%;
}

.Links {
  text-decoration: none;
  color: black;
}

.Links:hover {
  color: #4dffa6;
  transition: 0.5s;
}
