.Nav-wrapper {
  background-color: #f0eeee;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  top: 0;
  padding: 1em;
  width: 96%;
}

.Meditation-link {
  border-bottom: 1px solid lightgray;
  justify-content: center;
  margin-bottom: 0.4em;
  padding-bottom: 0.4em;
}

.Links {
  text-decoration: none;
  color: black;
  text-align: center;
}

.Links:hover {
  color: #4dffa6;
  transition: 0.5s;
}
